<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Noticia</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/Style.css">
      <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&display=swap" rel="stylesheet">
</head>

<body>
  <nav> <header class="p-3 mb-3 border-bottom">
    <div class="container">
     

      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="text-decoration-none" href="/"> <h1 class="nombre"><span class="spanh1">EGG</span> NEWS </h1></a>
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-secondary">Noticias</a></li>

        </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"  method="post" action="/noticia/search">
          <input type="text"   class="form-control" placeholder="Search..." aria-label="Search" name="search">
         </form>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="/noticia/CrearNoticia">Nueva noticia</a></li>
            <li><a class="dropdown-item" href="/paneladmin">Panel Admin</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header></nav>
  
  <div class="card bg-success m-5 px-2" th:if="${exito != null}" th:text="${exito}"></div>
  <div class="card bg-danger m-5 px-2" th:if="${error != null}" th:text="${error}"></div>
  <form action="/noticia/Guardar" class="row g-3 d-flex align-items-center m-5" method="POST"
    enctype="multipart/form-data">
    <h1> Crear Noticia</h1>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Titulo</label>
      <input type="text" class="form-control" name="titulo" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Cuerpo de la noticia</label>
      <textarea class="form-control" name="cuerpo" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Titulo</label>
      <input type="file" class="form-control" accept=".png, .jpg,.jpeg, .gif" name="file" id="imagen">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3" value="Guardar">Guardar</button>
    </div>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="<KEY>"
    crossorigin="anonymous"></script>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary" id="fechaSpan"></span>
        <script>
          var fechaActual = new Date();
        
     
          var dia = fechaActual.getDate();
          var mes = fechaActual.getMonth() + 1; 
          var anio = fechaActual.getFullYear();
        
    
          var fechaFormateada = dia + '/' + mes + '/' + anio;
        
    
          document.getElementById('fechaSpan').textContent = fechaFormateada;
        </script>
        
    
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#twitter"></use>
            </svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#instagram"></use>
            </svg></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#facebook"></use>
            </svg></a></li>
      </ul>
    </footer>
</body>


</html>