<nav> <header class="p-3 mb-3 border-bottom">
    <div class="container">
     

      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="text-decoration-none" href="/"> <h1 class="nombre"><span class="spanh1">EGG</span> NEWS </h1></a>
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-secondary">Noticias</a></li>

        </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"  method="post" action="/noticia/search">
          <input type="text"   class="form-control" placeholder="Search..." aria-label="Search" name="search">
         </form>

        <div class="dropdown text-end"  th:if="${session.usuario != null}">
          <a th:href="@{/perfil/__${session.usuario.id}__}" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img th:src="@{/Imagen/perfil/__${session.usuario.id}__}" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a href="/perfil" class= "dropdown-item">
              <img th:src="@{/Imagen/perfil/__${session.usuario.id}__}" alt="mdo" width="32" height="32" class="rounded-circle">
             Perfil</a>
          </li>
            <li><a class="dropdown-item" href="/Admin/CrearNoticia">Nueva noticia</a></li>
            <li><a class="dropdown-item" href="/Admin/Dashboard">Panel</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
          </ul>
          </div>
          
          <div class="dropdown text-end">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a  th:if="${session.usuario == null}" href="/login" class="nav-link px-2 link-secondary">Login</a></li>
            <li><a th:if="${session.usuario == null}"  href="/register" class="nav-link px-2 link-secondary">Registro</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header></nav>